Repository MakieOrg/Makie.jl, pull requests merged in 2023-07, with the labels that each got.

#3053 Fix gap in miter join
  GLMakie/assets/shader/lines.geom
Labels: GLMakie

#3004 add smart fillto to enable logscale y-axis histogram barplot
  ReferenceTests/src/tests/examples2d.jl
  src/basic_recipes/barplot.jl
Labels: enhancement, Makie

#2959 Fix 3D heatmaps in CairoMakie
  CairoMakie/src/primitives.jl
  NEWS.md
  ReferenceTests/src/tests/examples3d.jl
Labels: CairoMakie

#2877 Add comments to the example in the landing page
  docs/index.md
Labels: documentation

#2604 Respect linestyle when stroking polygons in CairoMakie
  CairoMakie/src/overrides.jl
  NEWS.md
Labels: bug, CairoMakie
