Repository MakieOrg/Makie.jl, pull requests merged in 2023-12, with the labels that each got.

#3408 Add options to reduce edge artifacts in scatter (text, lines)
  GLMakie/assets/shader/distance_shape.frag
  GLMakie/assets/shader/lines.frag
  GLMakie/src/drawing_primitives.jl
  GLMakie/src/glshaders/particles.jl
  GLMakie/test/glmakie_refimages.jl
  NEWS.md
  docs/reference/plots/lines.md
  docs/reference/plots/linesegments.md
  docs/reference/plots/scatter.md
Labels: GLMakie

#3210 fix contour boundingbox with `NaN`s
  CairoMakie/src/primitives.jl
  src/basic_recipes/contours.jl
  src/layouting/boundingbox.jl
  test/boundingboxes.jl
Labels: bug

#3505 fix spurious minor tick
  ReferenceTests/src/tests/examples2d.jl
  src/makielayout/lineaxis.jl
Labels: bug

#3518 Add stroke and glow to WGLMakie
  NEWS.md
  WGLMakie/assets/sprites.frag
  WGLMakie/assets/sprites.vert
  WGLMakie/src/particles.jl
  WGLMakie/test/runtests.jl
  docs/explanations/backends/wglmakie.md
Labels: WGLMakie
